.check-details-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 10%;
}

.section {
  flex: 1;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  flex-basis: 450px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.check-details-container .section svg {
  font-size: large;
  color: #007bff;
}
.section h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

/* Add more styling as needed */
